<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://unpkg.com/vue@next"></script>
<body>
    <div id="app">
        <input v-model="username" type="text" placeholder="Name"><br>
        <input type="text" placeholder="Age"><br>
        <button v-on:click="addUser">Create</button>
        <hr>
        <user-form v-for="user in users" v-bind:name="user.name" v-bind:age="user.age"></user-form>
    </div>
</body>
</html>
<script src="js.js">
    
</script>