<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
    <button href="1p.html">LaFooP!</button>
    <button>Sign in</button>
    <button>Sign up</button>
    <button href = "News.html">News</button>
    <button href = "Bloh.html">Blog</button>
    </header>
    <main>
    <input type="button" href =""name="play" value="Выбрать готовый квиз">
    <button href = ""> Создать свой квиз
    </main>
    <footer>
        Copyright 2022
    </footer>
</body>
</html>