<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="script.js"></script>
</head>
<body>
    <p>
        <label>Введите логин:</label>
        <input type="text" name="login" size="19" maxlength="19">
    </p>
    <p>
        <label>Введите пароль</label>
        <input name="password" type="password" size="19" maxlength="19">
    </p>
    <p>
        <label>Повторите пароль</label>
        <input name="password" type="password" size="19" maxlength="19">
    </p>
    <p>
        <input type="submit" name="submit" value="Уже есть? Тогда войдите в аккаунт.">
    </p>
</body>
</html>